/* Animación de colores para el fondo */
body {
    background-color: #282c34;
    /* Color de fondo oscuro */
    font-family: 'Arial', sans-serif;
    /* Fuente moderna */
    color: #f8f9fa;
    /* Color del texto */
}
form {
    background-color: rgba(255, 255, 255, 0.2);
    /* Fondo blanco con 80% de opacidad */
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    /* Sombra suave para efecto flotante */
}


.form-container {
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.form-container:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc);
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border-radius: 12px;
}

.form-container:focus-within:before {
    opacity: 1;
}
